{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html>
  <head>
    <title></title>
  </head>
  <body>
  {% block body %}
	 <div class="container view-question">
        <h1>{{ knowledge.name }}</h1><br>
        <h3>Description:</h3>
        <p>{{ knowledge.content|safe }}</p>
        <p class="knowlegedetails questiondetails"><span style="float: right">Last Modified: <strong>{{ knowledge.update_date }}</strong></span></p>


    </div>
</p>
    {% endblock %}
  </body>
</html>
