appdirs==1.4.3
asgiref==3.2.7
bleach==3.1.5
click==7.1.2
distlib==0.3.0
Django==3.1.6
filelock==3.0.12
joblib==0.14.1
markdown2==2.3.8
nltk==3.5
numpy==1.18.3
packaging==20.3
pbr==5.4.5
pyparsing==2.4.7
pytz==2020.1
regex==2020.4.4
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
stevedore==1.32.0
tqdm==4.45.0
virtualenv-clone==0.5.4
webencodings==0.5.1
