{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html>
  <head>
    <title></title>
  </head>
  <body>
  {% block body %}
	 <div class="container view-question">
        <h1>{{ question.question_title }}</h1>
        <p>{{ question.content|safe }}</p>
        <p class="questiondetails"><span style="float: left">Posted on <strong>{{ question.date_posted }}</strong></span><span style="float: right">Posted by <strong>{{ question.posted_by }}</strong></span></p>
		<div id="answers">

        </div>
        <br>
      <br>
      <br>
      <br>
      <br>
<h2> {{reply_title}}</h2>
{{reply_content}}



      <div>
        <br>
        <br>
        <br>
        <br>
      </div>


                <form class=""  method="POST">
                    {% csrf_token %}
                    <input type="text" name="answer_title" value="" autocomplete="off" placeholder="Answer Header" class="askInput"><p />
                    <textarea name="answer" rows="8" cols="80" placeholder="Answer Content"></textarea><p />
                    <input type="text" name="posted_by" value="" autocomplete="off" placeholder="Enter your name ..." class="askInput"><p />
                    <input type="submit" name="ask" value="Submit Answer" class="btn btn-outline-secondary">
                </form>


</p>
      {% endblock %}
    </body>
</html>
