{% extends 'base.html' %}
<!doctype html>
{% load static %}
{% load class_name %}

<html>
  <head>
    <title></title>
  </head>
  <body>
  {% block body %}
	 </div>
	<div class="container results">
  <h1 class="view-q-align">Results!</h1>
        <div class="content">

            <!-- TO DO NEED TO DISPLAY KNOWLEDGE RESULTS IN SEPARATE COLUMN OR SECTION -->
            <div class="row">
              <div class="col">
            <!-- iterator for knowledge result -->
            <h3 class="query-header">Knowledge Results</h3>
            {% for knowledgeResult in knowledgeResults %}
                <div class="question">
                    <!-- link to the website url created wit slug -->
                    <h5>Knowledge-base</h5>
                    <a href="/knowledge/{{ knowledgeResult.id }}/{{ knowledgeResult.slug }}"><h1 class="q-color-black">{{ knowledgeResult.name }}</h1></a>
                    <p>{{knowledgeResult.content|truncatechars:300|slice:"-1" }}...</p>
                </div>
            {% endfor %}
          </div>
          <div class="col">

            <!-- iterator for question result -->
            <h3 class="query-header">Question Results</h3>
            {% for questionResult in questionResults %}
                <div class="question">
                    <!-- link to the website url created wit slug -->
                    <h5>Question</h5>
                    <a href="/question/{{ questionResult.id }}/{{ questionResult.slug }}"><h1 class="q-color-black">{{ questionResult.question_title }}</h1></a>
                    <p>{{ questionResult.content|truncatechars:300|slice:"-4" }}...</p>
                </div>
            {% endfor %}
          </div>
    </div>
  </div>
{% endblock %}
</body>
</html>
