{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html>
  <head>
    <title></title>
  </head>
  <body>
  {% block body %}
        <div class="container content">
        <h1>Query database</h1>
        <p>Type your question below.</p>


        <form method="post">
            {% csrf_token %}
            <div class="query-form">{{ form }}</div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        </div>
		{% endblock %}
    </body>
</html>
