body {
	background-color: #f7f7f7;
	color: black;
	padding-bottom: 2.5rem;
	height: 100%;
}

.change-container-color {
	background: white;
}

.login-body{
	background: #08038F;
	color: white;
	height: 28em;
}
html {
	height: 100%;
}

.profile-header{
	text-align: center;
	padding: 2em;
}

.navbar-color {
	background-color: #08038F;
	color: white;
}

/* .profile {
	padding-left: 60em;
} */

.header {
	padding: 1.3em;
}

.logo-title {
	font-size: 1em;
	display: inline-block;
	color: white;
	position: absolute;
	padding-left: 1em;
}

.nav-item {
	font-size: 1.3em;
	color: white !important;
}

.nav-font {
	font-size: 1.1em;
}

.nav-text {
	color: white;
}

.q-color {
	color: white;
}

.q-color-black {
	color: black;
}

.question {
	border: solid #08038F;
	padding-bottom: 20px;
	margin-bottom: 1em;
	border-radius: 6px;
    padding: 8px;
}

.view-q-align {
	text-align: center;
	margin-top: 1em;
	text-decoration: underline;
}

.view-question {
	padding: 4em;
	/*margin-top: 3em;*/
	/*border: solid #08038F;*/
}

.search-section {
	margin-top: 4em !important;
}

.search-form {
	width: 80% !important;
	padding: 1.375rem 0.75rem !important;
}

.recent-post {
	border-style: solid;
	border-color: #08038F;
	background-color: #08038F;
	color: white;
	margin-bottom: inherit
}

.popular-post {
	border-style: solid;
	border-color: #08038F;
	background-color: #08038F;
	color: white;
	margin-bottom: inherit
}

.post-header-text {
	font-size: 1.4em;
	text-align: center;
	text-decoration: underline;
}

.post-box {
	margin-bottom: 3rem;
	margin-top: 8em;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}
.askInput {
	width: 53% !important;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

.askInput-modified{
	width: 100%;
	margin-bottom: 1em;
	padding-bottom: 10px;
}

.input-post {
	padding: 3em;
	margin-bottom: 4em;
}

.content {
	margin-top: 4em;
	position: relative;
}

footer {
	background-color: #08038F;
	color: white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	overflow: hidden;
	padding: 1rem;
	text-align: center;
}

.see-question-body {
	margin-bottom: 8em;
}

.recent-post-text {
	background-color: white;
    color: black;
    border: 14px white;
    padding: 8rem;
    margin-right: 3em;
    margin-left: 5em;
	margin-bottom: inherit
}

.popular-post-text {
	background-color: white;
    color: black;
    border: 14px white;
    padding: 8rem;
    margin-right: 3em;
    margin-left: 5em;
	margin-bottom: inherit;
}

.user-reply-name{
	font-style: italic;
}

.container-login{
	height: 18em;
  position: relative;
}

.login-form{
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.login-name{
	font-size:1.3em;
  padding-right: 0.2em;
}

#username{
	border: 2px solid black;
  padding: 0.5em;
  border-radius: 0.8em;
}

#password{
	border: 2px solid black;
  padding: 0.5em;
  border-radius: 0.8em;
}

.button-login {
    justify-content: center;
    display: flex;
    margin-top: 2em
}

.login-button {
	background: white;
}

.login-header{
	text-align: center;
  margin-top: 2em;
}

.user-logout-button{
	/*justify-content: center;*/
	display: table;
	margin-left: 7em;
	margin: auto;
}

.questiondetails{
	padding-bottom: 2em;
  border-bottom: 1.5px solid;
}

.replies{
	margin-bottom:4.5em;
	margin-left: 1em;
	width: 72%;
	padding-bottom: 3em;
	border-right: 2px solid;
  border-left: 2px solid;
  padding-left: 1.5em;
	border-radius: 15px;
}

.reply-header {
    font-size: 1.5em;
    font-weight: bold;
}

.reply-content{
	padding: 0 0 0 2em;
}

.answer{
	padding: 5em 4em 10em 4em;
}

.query-form input{
	background: transparent;
}

.profile-image img{
	margin-top: 5em;
	width: 50%;
	height: 50%;
	display: block;
  margin: auto;
}

.profile-image{
	font-size: 1.4em;
	padding: 0 3em 3em 3em;
	text-align: center;
	margin-top: 5em;
}

.profile-name{
  padding-top: 1em;
}

.your-post{
	border: 2px solid;
}

.your-post{
	border: 1.5px solid;
	padding: 1em;
}

.your-post-title{
	border: 1.5px solid;
	margin-bottom: 0;
	text-align: center;
}

.profile-post{
	margin-top: 13em;
	margin-bottom: 15em;
}

.fix-margin{
	margin-right: 3em !important;
}

.profile-inner-post{
	margin-bottom: 1em;
}

.query-header{
	text-align: center;
}

.change-margin{
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.rate-margin{
    margin-left: 6em;
		margin-top: 0.8em
}

@media only screen and (max-width: 320px){
	.profile {
		padding-left: initial;
		display: none;
	}

	.nav-item {
		padding-right: 10.14em;
	}

	.know-base {
		padding-right: 5.05em;
	}
}
